* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
.logo {
  font-size: 17px;
  cursor: pointer;
}
.apple-navbar {
  font-size: 12px;
  font-weight: 400;
  letter-spacing: -0.01em;
  height: 44px;
  width: 100%;
  background-color: rgba(255, 255, 255, 1);
  position: static;
  top: 0;
  z-index: 100;
}

.nav-list {
  max-width: 1200px;
  height: 100%;
  margin: auto;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  color: #1d1d1f;
}

.nav-list li {
  cursor: pointer;
  opacity: 0.85;
}
.nav-list li:hover {
  opacity: 1;
}
#offers {
  height: 70px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 17px;
  color: rgb(80, 78, 78);
}

#store-banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 8%;
  background-image: linear-gradient(
    to right,
    rgb(255, 255, 255) 0px,
    rgb(202, 225, 250) 25%,
    rgb(255, 228, 216) 50%,
    rgb(255, 206, 183) 75%,
    rgb(242, 247, 252) 100%
  );
  height: 270px;
  width: 100%;
}
.left h1 {
  font-size: 80px;
  font-weight: 600;
  letter-spacing: -0.015em;
  line-height: 1.05;
}
.blue {
  color: #3b82f6;
}

.orange {
  color: #f97316;
}
.right {
  text-align: center;
}
.right h2 {
  font-size: 36px;
  font-weight: 600;
  line-height: 1.333;
  letter-spacing: 0.007em;
  text-align: right;
}
.right a {
  display: block;
  color: #0071e3;
  text-decoration: none;
  font-size: 16px;
  margin-top: 10px;
  text-align: right;
}

.right a:hover {
  text-decoration: underline;
}
.products {
  display: flex;
  justify-content: center;
  gap: 48px;

  padding: 60px 60px;
  background: #f5f5f7;
}
.product {
  cursor: pointer;
  transition: transform 0.35s ease, opacity 0.35s ease;
}
.product > img {
  /* width: 70px;
  height: auto; */
  display: flex;
  justify-content: center;
  margin-bottom: 12px;
}
.product > span {
  position: absolute;
  top: 580px;
  margin-left: 5px;
  text-align: center;
  font-size: 14px;
  color: #1d1d1f;
}
.latest {
  padding: 80px 6%;
  background: #f5f5f7;
}
.latest h2 {
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 40px;
}
.blue {
  color: #0071e3;
}
.dark {
  color: #1d1d1f;
}
.product-row {
  display: flex;
  gap: 100px;
  overflow-x: auto;
}
.product-card {
  min-width: 600px;
  height: 670px;
  background: rgba(255, 255, 255, 0.75);
  position: relative;
  box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.08);
  border: none;
  border-radius: 25px;
}
.product-card:hover {
  box-shadow: 0px 30px 40px rgba(0, 0, 0, 0.12);
  border: none;
  border-radius: 25px;
}
.card-content {
  font-size: 24px;
  font-weight: 600;
  color: #1d1d1f;
  position: absolute;
  top: 30px;
  left: 30px;
  z-index: 2;
}
.ai {
  margin-top: 8px;
  color: #0071e3;
  font-weight: 500;
}
.price {
  margin-top: 6px;
  color: #6e6e73;
}
.product-card img {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  width: 550px;
  height: 550px;
  z-index: 1;
}
