* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
.logo {
  font-size: 17px;
  cursor: pointer;
}
.apple-navbar {
  font-size: 12px;
  font-weight: 400;
  letter-spacing: -0.01em;
  height: 44px;
  width: 100%;
  background-color: rgba(255, 255, 255, 1);
  position: static;
  top: 0;
  z-index: 100;
}

.nav-list {
  max-width: 1200px;
  height: 100%;
  margin: auto;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  color: #1d1d1f;
}

.nav-list li {
  cursor: pointer;
  opacity: 0.85;
}
.nav-list li:hover {
  opacity: 1;
}
.card1 {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 638px;
  border: none;
}
.title {
  font-size: 32px;
  font-weight: 600;
  position: absolute;
  top: 50px;
  z-index: 20;
  
}
.tagline {
  font-size: 52px;
  position: absolute;
  top: 90px;
  z-index: 10;
  
  color: #0071e3;
}
.heroimg1 {
  width: 100%;
  height: 720px;
}
.c1-ai {
  margin-top: 80px;
  font-weight: 600;
  text-align: center;
  color: #0071e3;
}
.card1-about {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

.c1-btn {
  height: 50px;
  width: 90px;
  text-align: center;
  background-color: #0071e3;
  color: white;
  border: none;
  border-radius: 22px;
  padding: 10px;
}
.c1-desc {
  width: 800px;
  height: 150px;
  font-size: 21px;
  border: none;
  color: grey;
  font-weight: 600;
  letter-spacing: 0.009em;
  line-height: 1.1666666667;
  margin-left: 100px;
}
.heroimg2 {
  width: 100%;
  height: 720px;
}
.c2-title > h2 {
  font-size: 14px;
  font-weight: 600;
  margin-left: 300px;
}
.c2-title > p{
  font-size: 52px;
  font-weight: 600;
  margin-left: 300px;
  color: #0071e3;
}
.c2-desc > p{
  width: 950px;
  height: 90px;
  border: none;
  color: grey;
  margin-left: 300px;
  font-size: 21px;
  font-weight: 600px;
  letter-spacing: 0.009em;
  line-height: 1.1666666667;
}
.c3-title{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.heroimg3{
  width: 1078px;
  height: 761px;
}
.c3-desc{
  margin-top: 20px;
  font-weight: 600px;
  letter-spacing: 0.009em;
  line-height: 1.1666666667;
  font-size: 21px;
  color: grey;
}
.card4-about{

}
.c4-title h2{
  font-size: 14px;
  font-weight: 600;
  margin-left: 300px;
  
}
.c4-title p{
  font-size: 52px;
  font-weight: 600;
  margin-left: 300px;
  color: #0071e3;
}
.heroimg4{
  width: 1500px;
  height: 800px;
  margin-top: 10px;
}
.m4-chip{
  width: 100px;
  height: 100px;
  border-radius: 15px;
}
.performance-badges{
  /* margin-top: 100px; */
  margin-left: 350px;
  border: 1px solid black;
  width: 900px;
  height: 400px;
  display: flex;
  align-items: center;

}
.badges{
  width: 800px;
  height: 300px;
  border: 1px solid red;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.b1{
  font-size: 19px;
  font-weight: 600;
  color: grey;
}
.b2{
  font-size: 72px;
  font-weight: 600;
  color: #0071e3;
}
.b3{
  font-size: 19px;
  font-weight: 600;
  color: grey;
}
#b3{
  font-size: 19px;
  font-weight: 600;
  color: green;
}
